<div class="breadcrumbs-v1" style="background-image: url('assets/img/breadcrumbs/hanasquare.jpg')">
  <div class="container">
    <span>DSBA</span>
    <h1>BOARD</h1>
  </div>
</div>
<div *ngIf='loading_status' id='dsba-board-loading-box'></div>
<div class="container content-sm">
  <div class="row shs-side-nav">
    <div class="col-md-3 -side-col">
      <div id='js-nav' class='-nav'>
        <div class="headline-v2 bg-color-light"><h2>Categories</h2></div>
        <ul class="list-inline tags-v2 margin-bottom-50">
          <li><a routerLink='/board/notice' data-_initScroll8Nav>Notice</a></li>
          <li><a routerLink='/board/news' data-_initScroll8Nav>News</a></li>
          <li><a routerLink='/board/seminar' data-_initScroll8Nav>Seminar</a></li>
          <li><a routerLink='/board/photo' data-_initScroll8Nav>Photo</a></li>
          <li><a routerLink='/board/overall' data-_initScroll8Nav>Overall</a></li>
        </ul>
        <div class="headline-v2 bg-color-light"><h2>Photostream</h2></div>
        <ul class="list-inline blog-photostream margin-bottom-50">
          <li *ngFor='let img of imgs.slice(0, 15)'>
            <span>
              <img class="img-responsive" src="{{ img }}">
            </span>
          </li>
        </ul>
      </div>
      <div id='js-nav--top' class='-nav js-on'>
        <div class="headline-v2 bg-color-light"><h2>Categories</h2></div>
        <ul class="list-inline tags-v2 margin-bottom-50">
          <li><a routerLink='/board/notice' data-_initScroll8Nav>Notice</a></li>
          <li><a routerLink='/board/news' data-_initScroll8Nav>News</a></li>
          <li><a routerLink='/board/seminar' data-_initScroll8Nav>Seminar</a></li>
          <li><a routerLink='/board/photo' data-_initScroll8Nav>Photo</a></li>
          <li><a routerLink='/board/overall' data-_initScroll8Nav>Overall</a></li>
        </ul>
        <div class="headline-v2 bg-color-light"><h2>Photostream</h2></div>
        <ul class="list-inline blog-photostream margin-bottom-50">
          <li *ngFor='let img of imgs.slice(0, 15)'>
            <span>
              <img class="img-responsive" src="{{ img }}">
            </span>
          </li>
        </ul>
      </div>
      <div id='js-nav--bottom' class='-nav'>
        <div class="headline-v2 bg-color-light"><h2>Categories</h2></div>
        <ul class="list-inline tags-v2 margin-bottom-50">
          <li><a routerLink='/board/notice' data-_initScroll8Nav>Notice</a></li>
          <li><a routerLink='/board/news' data-_initScroll8Nav>News</a></li>
          <li><a routerLink='/board/seminar' data-_initScroll8Nav>Seminar</a></li>
          <li><a routerLink='/board/photo' data-_initScroll8Nav>Photo</a></li>
          <li><a routerLink='/board/overall' data-_initScroll8Nav>Overall</a></li>
        </ul>
        <div class="headline-v2 bg-color-light"><h2>Photostream</h2></div>
        <ul class="list-inline blog-photostream margin-bottom-50">
          <li *ngFor='let img of imgs.slice(0, 15)'>
            <span>
              <img class="img-responsive" src="{{ img }}">
            </span>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-9" id='daba-board'>
      <ng-container *ngIf='post'>
        <ng-container *ngIf='updating_status'>
          <div class='daba-post-box'>
            <div class="blog margin-bottom-40">
              <a (click)='hidePost()'><span id='-back-btn'>back</span></a>
              <a (click)='deletePost()'><span id='-delete-btn'>delete</span></a>
              <h2>
                <input [(ngModel)]="updating_title" id='dsba-title-editor' type="text">
              </h2>
              <div class="blog-post-tags">
                <ul class="list-unstyled list-inline blog-info">
                  <li>
                    <i class="fa fa-calendar"></i>
                    {{ post.date }}
                  </li>
                  <li (click)='toggleEditStatus(post.idx)'>
                    <i class="fa fa-pencil"></i>
                    {{ post.writer }}
                  </li>
                  <li><i class="fa fa-tags"></i> {{ post.category }}</li>
                </ul>
              </div>
              <textarea id='dsba-content-editor' data-editor='w'>
                {{ post.content }}
              </textarea>
            </div>
          </div>
        </ng-container>
        <ng-container *ngIf='!updating_status'>
          <ul class="pager pager-v3 pager-sm no-margin-bottom">
            <li class="previous">
              <a (click)='turnPost(-1)'>← Newer</a>
            </li>
            <li *ngIf="posts" class="page-amount">
              {{ post.idx+1 }} / {{ posts.length }}
            </li>
            <li class="next">
              <a (click)='turnPost(+1)'>Older →</a>
            </li>
          </ul>
          <div class='daba-post-box'>
            <div class="blog margin-bottom-40">
              <a (click)='hidePost()'><span id='-back-btn'>back</span></a>
              <h2>{{ post.title }}</h2>
              <div class="blog-post-tags">
                <ul class="list-unstyled list-inline blog-info">
                  <li>
                    <i class="fa fa-calendar"></i>
                    {{ post.date }}
                  </li>
                  <li (click)='toggleEditStatus(post.idx)'>
                    <i class="fa fa-pencil"></i>
                    {{ post.writer }}
                  </li>
                  <li><i class="fa fa-tags"></i> {{ post.category }}</li>
                </ul>
              </div>
              <textarea data-editor='r'>{{ post.content }}</textarea>
            </div>
          </div>
        </ng-container>
      </ng-container>
      <ul *ngIf='!post' class="pager pager-v3 pager-sm no-margin-bottom">
        <li class="previous">
          <a (click)='turnPage(-1)'>← Newer</a>
        </li>
        <li *ngIf="post_groups" class="page-amount">
          {{ post_group.page }} of {{ post_groups.length }}
        </li>
        <li class="next">
          <a (click)='turnPage(+1)'>Older →</a>
        </li>
      </ul>
      <br>
      <div *ngFor='let post of post_group'>
        <ul class="list-inline">
          <li>{{ post.writer }}</li>
          <li>In {{ post.category }}</li>
          <li>{{ post.date }}</li>
        </ul>
        <div *ngIf='!post.thumbnail' class="row">
          <div class="col-sm-12 news-v3">
            <div class="news-v3-in-sm no-padding">
              <h2><a (click)='showPost(post.idx)' data-_scrollToContent>
                {{ post.title }}
              </a></h2>
              <p [innerHTML]="post.preview" class="-preview"></p>
            </div>
          </div>
        </div>
        <div *ngIf='post.thumbnail' class="row">
          <div class="col-sm-9 news-v3">
            <div class="news-v3-in-sm no-padding">
              <h2><a (click)='showPost(post.idx)' data-_scrollToContent>
                {{ post.title }}
              </a></h2>
              <p [innerHTML]="post.preview" class="-preview"></p>
            </div>
          </div>
          <div class="col-sm-3">
            <img class='-thumbnail-img' src="{{ post.thumbnail }}">
          </div>
        </div>
        <div class="clearfix"><hr></div>
      </div>
      <ul class="pager pager-v3 pager-sm no-margin-bottom">
        <li class="previous">
          <a (click)='turnPage(-1)'>← Newer</a>
        </li>
        <li *ngIf="post_groups" class="page-amount">{{ post_group.page }} of {{ post_groups.length }}</li>
        <li class="next">
          <a (click)='turnPage(+1)'>Older →</a>
        </li>
      </ul>
      <br>
    </div>
  </div>
</div>
