<div class="profile-body margin-bottom-20">
  <div class="profile-bio">
    <div class="row">
      <div class="col-md-2">
        <img class="img-responsive md-margin-bottom-10" src="assets/img/custom/professor.jpg">
      </div>
      <div class="col-md-10">
        <h2>강필성 (Pilsung Kang)</h2>
        <span><strong>Assistant Professor</strong></span>
        <span>
          <strong>
          School of Industrial Management Engineering,
          Korea University, Republic of Korea.
          </strong>
        </span>
        <span>
          <strong>
            E-mail:
            <a href="mailto:pilsung_kang@korea.ac.kr">
              pilsung_kang@korea.ac.kr
            </a>
          </strong>
        </span>
        <br>
      </div>
    </div>
  </div>

  <ng-container *ngIf="pageType == 'professor'">
    <div class="panel panel-profile">
      <div class="panel-heading overflow-h">
        <h2 class="panel-title heading-sm pull-left">Employment History</h2>
      </div>
      <div class="panel-body margin-bottom-40">
        <ul class="timeline-v2 timeline-me">
          <li>
            <time datetime="" class="cbp_tmtime"><span></span> <span>2017.09 ~ Present</span></time>
            <i class="cbp_tmicon rounded-x hidden-xs"></i>
            <div class="cbp_tmlabel">
              <h2>Associate Professor</h2>
              <p>School of Industrial Management Engineering, Korea University</p>
            </div>
          </li>
          <li>
            <time datetime="" class="cbp_tmtime"><span></span> <span>2015.03 ~ 2017.08</span></time>
            <i class="cbp_tmicon rounded-x hidden-xs"></i>
            <div class="cbp_tmlabel">
              <h2>Assistant Professor</h2>
              <p>School of Industrial Management Engineering, Korea University</p>
            </div>
          </li>
          <li>
            <time datetime="" class="cbp_tmtime"><span></span> <span>2011.03 ~ 2015.02</span></time>
            <i class="cbp_tmicon rounded-x hidden-xs"></i>
            <div class="cbp_tmlabel">
              <h2>Assistant Professor</h2>
              <p>ITM Programme, Seoul National University of Science & Technology</p>
            </div>
          </li>
          <li>
            <time datetime="" class="cbp_tmtime"><span></span> <span>2010.03 ~ 2011.01</span></time>
            <i class="cbp_tmicon rounded-x hidden-xs"></i>
            <div class="cbp_tmlabel">
              <h2>Manager</h2>
              <p>Customer Value Management  (CVM) Planning Team, HyundaiCard Co.</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="panel panel-profile">
      <div class="panel-heading overflow-h">
        <h2 class="panel-title heading-sm pull-left">Education</h2>
      </div>
      <div class="panel-body margin-bottom-40">
        <ul class="timeline-v2 timeline-me">
          <li>
            <time datetime="" class="cbp_tmtime"><span></span> <span>2003.03 ~ 2010.02</span></time>
            <i class="cbp_tmicon rounded-x hidden-xs"></i>
            <div class="cbp_tmlabel">
              <h2>Ph.D</h2>
              <p>Industrial Engineering (Data Mining), Seoul National University.</p>
              <ul><li><p>Ph.D Thesis: Locally linear reconstruction for prediction, detection, and clustering: Algorithms and their applications.</p></li></ul>
            </div>
          </li>
          <li>
            <time datetime="" class="cbp_tmtime"><span></span> <span>1999.03 ~ 2003.02</span></time>
            <i class="cbp_tmicon rounded-x hidden-xs"></i>
            <div class="cbp_tmlabel">
              <h2>BS</h2>
              <p>Industrial Engineering, Seoul National University.</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="panel panel-profile">
      <div class="panel-heading overflow-h">
        <h2 class="panel-title heading-sm pull-left">Academic & Professional Activities</h2>
      </div>
      <div class="panel-body margin-bottom-40">
        <ul class="custom-ul-3">
          <li>
            <h4>
              Reviewer: International Journals
            </h4>
            <ul>
              <li><p>Pattern Recognition</p></li>
              <li><p>Computers & Security</p></li>
              <li><p>IEEE Transactions on Industrial Informatics</p></li>
              <li><p>Annals of Operations Research</p></li>
            </ul>
          </li>
          <li>
            <h4>
              Reviewer: International Conferences
            </h4>
            <ul>
              <li><p>The 2011 IEEE International Conference on Robotics and Automation (ICRA 2011)</p></li>
              <li><p>The 2nd International Conference on Biometrics (ICB 2007)</p></li>
            </ul>
          </li>
          <li>
            <h4>
              Miscellaneous
            </h4>
            <ul>
              <li><p>2013.05 ~ Present: Invited Lecture on Big Data Analytics with R</p></li>
              <li><p>2012.09 ~ Present: Steering committee member, Korea Big Data Forum, sponsored by Korean Communications Commission.</p></li>
              <li><p>2012.04 ~ 2012. 09: Senior assistant administrator, Research Committee on Human Errors in Railway Systems, sponsored by KORAIL.</p></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </ng-container>

</div>
