.profile-bio {
  padding: 15px 10px 15px 15px;
}

.profile-bio span strong a {
  position: unset;
  margin: 0;
  text-align: left;
}

img[src='assets/img/custom/professor.jpg']{
  max-width: 100px;
}
