<div class="profile-body margin-bottom-20">
  <div class="panel-heading overflow-h margin-bottom-20">
    <h2 class="panel-title heading-sm pull-left">{{ pageType }}</h2>
  </div>
  <div *ngFor="let pair of studentPairs" class="row margin-bottom-20">
    <div *ngFor="let one of pair" class="col-sm-6 sm-margin-bottom-20">
      <div class="profile-blog">
        <img src="{{ one.img }}" alt="">
        <div class="name-location">
          <strong>{{ one.name_ko }} ({{ one.name_en }})</strong>
          <span>{{ one.status }}</span>
          <br>
          <span *ngIf="one.mail">
            <a href="mailto:{{ one.mail }}">{{ one.mail }}</a>
            <a *ngIf="one.CV"
              href="{{ one.CV }}" target="_blank"> / Curriculum Viate</a>
          </span>
        </div>
        <div class="clearfix margin-bottom-20"></div>
        <p>
          <strong>Research Areas: </strong>
          <span [innerHTML]="one.research_areas"></span>
        </p>
        <hr>
        <ul class="list-inline share-list">
          <li *ngIf="one.BS">
            <span><strong>BS:</strong> {{ one.BS }}</span>
          </li>
          <li *ngIf="one.MS">
            <span><strong>MS:</strong> {{ one.MS }}</span>
          </li>
          <li *ngIf="one.career">
            <span><strong>Career:</strong> {{ one.career }}</span>
          </li>
          <li *ngIf="one.current">
            <span><strong>Current:</strong> {{ one.current }}</span>
          </li>
          <li>
            <span>
              <strong>Admission:</strong>
              {{beautifyAdmission(one.admission)}}
            </span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
