[submodule "client"]
	path = client
	url = https://github.com/SeohaSong/DSBA.client.git
[submodule "dsba-koreauniv.github.io"]
	path = dsba-koreauniv.github.io
	url = git@github.com:dsba-koreauniv/dsba-koreauniv.github.io.git
