.js-pages.js-on > .cbp-filter-item {
  color: #395182;
  font-weight: 900;
}
.js-titles {
  display: none;
  &.js-on {display: block;}
}

.dsba-li {
  display: flex;
  i, span {display: inline-block;}
}
.-slide-box {margin-bottom: 60px;}
.cbp-l-filters-text {margin: 0;}
