/* Add here all your css styles (customizations) */

a {
  cursor: pointer;
}

.header .navbar-nav > li > a:hover,
.header .navbar-nav > .active > a,
.headline h2, .headline h3, .headline h4 {
  border-bottom: solid 2px #395182;
}

.header .dropdown-menu {
  border-top: solid 2px #395182;
}

.header .navbar-nav > .active > a {
  color: #395182;
  font-weight: 900;
}

.btn-u, .thumbnail-style a.btn-more,
.timeline-v2 > li .cbp_tmicon,
.header .navbar-toggle,
.header .navbar-toggle:hover,
.header .navbar-toggle:focus
{
  background: #395182;
}

@media (max-width: 991px) {
  .header .navbar-nav > .active > a,
  .header .navbar-nav > .active > a:hover,
  .header .navbar-nav > .active > a:focus {
    background: #395182;
  }
}

.header .navbar-toggle:hover{
  background: #395182 !important;
}

.header .navbar-toggle {
  border-color: #395182;
}

a, .service .service-icon, .color-green,
.header .navbar-nav > .open > a,
.header .navbar-nav > .open > a:hover,
.header .navbar-nav > .open > a:focus,
.header .navbar-nav > li:hover > a,
.profile .name-location span i,
.share-list li i,
.breadcrumb li.active, .breadcrumb li a:hover,
.profile .name-location span a:hover,
.btn-u:hover, .btn-u:focus,
.btn-u:active, .btn-u.active,
.open .dropdown-toggle.btn-u,
#effect-2 figure .img-hover,
.lists-v2 i,
a:hover{
  color: #395182;
}

.headline-left .headline-brd:after,
.headline-center h2:after {
  background: #395182;
}

.thumbnail-style a.btn-more:hover {
  box-shadow: 0 0 0 2px #395182;
}

.header .nav > li > .search:hover {
  color: #395182;
  border-bottom-color: #395182;
}

.header .nav > li > .search:hover {
  color: #fff;
  background: #395182
}

/* #395182 */
/* #482525 */
/* #605B5B */

.mce-statusbar.mce-container.mce-panel.mce-stack-layout-item.mce-last {
  display: none;
}

.mce-tinymce.mce-container.mce-panel,
.mce-edit-area.mce-container.mce-panel.mce-stack-layout-item.mce-last {
  border: none;
}

iframe {
  border: none;
}
iframe[id^='mce']{
  box-shadow: 0.5px 0.5px 2px #ddd;
}
