<div class="container">
  <div class="row">
    <div class="col-md-9" id='daba-board'>
      <div class='row'>
        <div class='daba-post-box'>
          <div class="blog">
            <h2>
              <input [(ngModel)]="creating_title" id='dsba-title-editor' type="text" placeholder='제목'>
            </h2>
            <select [(ngModel)]='creating_category' id='dsba-category-editor'>
              <option value=''>글 분류</option>
              <option value='notice'>Notice</option>
              <option value='news'>News</option>
              <option value='seminar'>Seminar</option>
              <option value='photo'>Photo</option>
            </select>
            <br><br>
            <textarea id='dsba-content-editor' data-editor='w'></textarea>
            <br>
            <a (click)='create_post()'>
              <div class='dsba-create-btn'><span>CREATE</span></div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class='row'>
        <ul>
          <h2><br>파일 업로드 가이드</h2>
          <p>상황 별 스토리지는 아래와 같으며, 게시물에 해당 링크의 하이퍼 링크를 삽입해 이용합니다.</p>
          <li>계정: dsba.koreauniv@gmail</li>
          <li>비디오 및 음성 멀티미디어: Youtube</li>
          <li>사진, zip 등 저용량 파일: Google Drive에서 dsba.korea.ac.kr/ 폴더</li>
          <h2><br></h2>
        </ul>
      </div>
    </div>
  </div>
</div>
